[Unit]
Description=Wait for fingerprint
DefaultDependencies=no
Requires=dbus.socket
After=dbus.socket
After=local-fs.target
After=droid-hal-init.service
After=droid-late-start.service
Before=sailfish-fpd.service
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/droid/fingerprint-wait.sh

[Install]
WantedBy=multi-user.target

